---
import { Icon } from 'astro-icon/components'
---
<footer>
  <p>&copy; 2025 Your name here. All rights reserved.</p>
  <ul class="social-list">
    <li class="social"><a href="#" class="social-link"><Icon name="fa6-brands:facebook" width="24" height="24" /></a></li>
    <li class="social"><a href="#" class="social-link"><Icon name="fa6-brands:instagram" width="24" height="24" /></a></li>
    <li class="social"><a href="#" class="social-link"><Icon name="fa6-brands:threads" width="24" height="24" /></a></li>
  </ul>
</footer>

<style>
  footer {
    text-align: center;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
</style>