---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<main>
	<h1>Hello</h1>
	<p>Welcome to my blog</p>
	<section>
		<ul class="featured-list">
			{ posts.length === 0 && <p>Coming Soon...</p>}
			{ posts.length !== 0 &&
				posts.map((post) => (
					<li>
						<a href="">
							<img src={post.data.heroImage} alt="">
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</main>